body * {
    box-sizing: border-box;
}

body {
    /*Once again this background is from a website*/
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
    /*this is my code though*/
    font-family: sans-serif;
    margin: 0;
}

main {
    padding-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    background: #F0F0F0;
    height: 350px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#carousel-track {
    width: 800px;
    height: 100%;
    overflow: hidden;
}

#carousel-overflow-container {
    /* Make it wide so that is can hold all of the slides w/o squishing them */
    width: 10000px;
    height: 100%;
    display: flex;
    gap: 10px;
}

.carousel-item {
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
    background: #333;
    color: #FFF;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.mynavbar {
    background-color: #FBDA61;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /*making sure this is always at the top!*/
    display: flex;
    justify-content: center;
}

.mynavbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.mynavbar a {
    text-decoration: none;
    color: white;
}