body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

/* Your code here */
header {
    background-color: yellow;
    padding: 40px;
}


section{
    border: solid 1px black;
    display: inline-block;
    margin: 20px;
    border-radius: 4px;
    border: solid 1px white;
    background-color: rgb(244, 215, 179);
}
